{% include 'dashboard.html' %}
{% block content %}

    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

    <!-- Bootstrap datepicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<div class="container mt-5">

    <!-- Add table -->
    <div class="mb-4 row">
        <h4 class="col-12">Add Package</h4>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    {% if not message.extra_tags or 'once' not in message.extra_tags %}
                        <div class="alert alert-danger col-12" role="alert">
                            {{ message }}
                        </div>
                    {% endif %}
                {% elif message.tags == 'success' %}
                    {% if not message.extra_tags or 'once' not in message.extra_tags %}
                        <div class="alert alert-success col-12" role="alert">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
        <form method="post" class="form-horizontal col-12" action="/add_package" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="d-flex">
                <!-- Left half for manual input -->
                <div class="col-md-6">
                    <div class="container">
                        <div class="form-group pt-3">
                            <input type="text" name="Mark" placeholder="Mark">
                        </div>
                        <div class="form-group pt-3">
                            <input type="text" name="Customer" placeholder="Customer Full Name">
                        </div>
                        <div class="form-group pt-3">
                            <input type="text" name="Balance" placeholder="Balance">
                        </div>
                        <div class="form-group pt-3">
                            <input type="text" name="ID" placeholder="ID">
                        </div>
                        <div class="form-group pt-3">
                            <input type="text" name="Phone" placeholder="Phone">
                        </div>
                        <div class="form-group pt-3">
                            <select name="Location" class="form-select mb-3">
                                <option value="">Select State</option>
                                <option value="0">Botswana</option>
                                <option value="1">China</option>
                                <option value="2">Turkey</option>
                            </select>
                        </div>
                        <div class="form-group pt-3">
                            <div class="input-group date mb-3" id="arrivalDatepicker" data-date-format="yyyy-mm-dd">
                                <input type="text" name="Date" class="form-control" placeholder="Date" readonly>
                                <span class="input-group-append">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Right half for uploading CSV -->
                <div class="col-md-6">
                    <div class="container justify-content-end align-items-center border-start">
                        <div class="form-group">
                            <label for="excelFile">Upload Excel File:</label>
                            <div class="input-group">
                                <input type="file" class="form-control-file" id="excelFile" name="excel_file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <button type="submit" class="btn btn-primary col-12 mt-3">Add Package</button>
        </form>
    </div>

<script>
    $(document).ready(function () {
        $('#arrivalDatepicker').datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true,
            todayHighlight: true
        });
    });
</script>


</div>



{% endblock %}
