{% load static %}


<header>

    <nav class="navbar navbar-expand-lg navbar-dark justify-content-between"
    style="background-color:#E6E6FA">
        <div class="container-fluid">
            <div class="navbar-brand">
                <a href="{% url 'home' %}">
                    <img src="{% static 'logo.png' %}" alt="logo" class="img-responsive" width="110" height="50">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-dark ">
                    <li class="nav-item mx-5">
                        <a class="nav-link text-dark" href="/tracker">Tracker</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link text-dark" href="/help">Help</a>
                    </li>
                </ul>

                <ul class="navbar-nav me-auto mb-2 mb-lg-0 col-lg-7"> <!-- New row for centering the search -->
                    <div class="col-lg-12">
                        <form class="form-inline my-2 my-lg-0" action="/tracker" method="POST">
                            {% csrf_token %}
                            <div class="input-group">
                                <input class="form-control mr-sm-2 col-lg-8" type="search" placeholder="Search for package" name="search" id="search">
                                <a type="submit">
                                    <img src="{% static 'Search.svg' %}" alt="search" class="img-responsive rounded" width="35">
                                </a>
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                            </div>
                        </form>
                    </div>
                </ul>

                <ul class="navbar-nav ml-auto">
                    {% if userLoggedIn %}
                        <li class="nav-item">
                          <a href="{% url 'signout' %}">
                            <img src="{% static 'Signout.svg' %}" alt="logo" class="img-responsive" width="50" height="50">
                             Sign Out</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/signup">Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/login">Log In</a>
                        </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </nav>

</header>


